<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>グループ編集</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <!--bar-->
    <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Chat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Chat</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">ホーム</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"  aria-current="page" href="./user.html">ユーザー検索</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./room.html">チャットルーム</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  グループ
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./add.html">作成</a></li>
                  <li><a class="dropdown-item" href="./chat.html">一覧</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                </ul>
              </li>
            </ul>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <br>

    <div class="">
      <h1>グループ編集</h1>
      <br>
      <p>グループ名</p>
      <select class="form-select" aria-label="Default select example">
        <option selected>Group name</option>
        <option value="1">A</option>
        <option value="2">C</option>
        <option value="3">T</option>
        <option value="4">G</option>
      </select>
      <br>
      <p>メンバー</p>
      <div class="">
        <table class="table table-striped table-bordered" style="margin:auto" >
          <thead>
            <tr>
              <th scope="col">Photo</th>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <!--ユーザーデータ-->
          <tbody>
            <tr>
              <th scope="row">
                <img src="../../static/chat/images/dog.png" width="100" height="100">
              </th>
              <td>@buchi</td>
              <td>Rio</td>
              <td>~~~</td>
            </tr>
            <tr>
              <th scope="row">
                <img src="../../static/chat/images/train.JPG" width="100" height="100">
              </th>
              <td>@aka</td>
              <td>J</td>
              <td>---</td>
            </tr>
            <tr>
              <th scope="row">
                <img src="../../static/chat/images/dog.png" width="100" height="100">
              </th>
              <td>@path</td>
              <td>Totsune</td>
              <td>Hello</td>
            </tr>
          </tbody>
        </table>
        <br>
        <!--改善の必要あり-->
        <p>ユーザー</p>
        <ul class="list-group">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
            <label class="form-check-label" for="firstCheckbox">Miyuki</label>
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <label class="form-check-label" for="secondCheckbox">Miku</label>
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
            <label class="form-check-label" for="thirdCheckbox">Kaede</label>
          </li>
        </ul>

        <br>
        <!--完了ボタン-->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary me-md-2" type="button">メンバー追加</button>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary" type="button">完了</button>
        </div>
      
      
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
    crossorigin="anonymous"></script>

    <style type="text/css">
      body {
        margin-top: 50px;
        margin-left: 300px;
        margin-right: 300px;
        margin-bottom: 50px;
        padding: 0;
      }
      </style>
  </body>
</html>