<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>ドメイン(@~)をコミュニティー名に入力することで、同じドメインに所属するユーザーのみに制限することができます</tr>
            {{form.as_table}}
        </table>
    <input type="submit" value="作成">
    </form>

    {% if res %}
    <script>
        {% if res == "0" %}
            window.alert("{{message}}");
            location.href="{% url "portal" %}";
    {% else %}
        window.alert("{{message}}");
    {% endif %}
    </script>
    {% endif %}

</body>
</html>