<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portalアカウント登録</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- メニューバー -->
            <div class="col-2"></div>

            <!-- メインコンテンツ -->
            <div class="col-8">
                <div class="container">
                    <div class="row mt-5 mb-5 text-center">
                        <h1>アカウント作成</h1>
                    </div>

                    <form class="row" method="post" action="{% url 'createUser' %}">
                        {% csrf_token %}
                        {% for item in form %}
                        <div class="mb-2">
                            <label for="{{item.id_for_label}}" class="form-label">{{item.label}}</label>
                            <input type="{{item.field.widget.input_type}}" name="{{item.name}}" class="form-control"
                                id="{{item.id_for_label}}" {% if item.field.required %}required{% endif %} />
                        </div>
                        {% endfor %}
                        <div class="mt-3 mb-4 text-end">
                            <button type="submit" class="btn btn-primary">作成</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 右端 -->
            <div class="col-2"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    {% if res == 0 %}
    <script type = "text/javascript">
      window.alert("ユーザーの作成に成功しました");
      location.href="{% url "portal" %}";
    </script>
    {% else %}
    <script type = "text/javascript">
      window.alert("ユーザーの作成に失敗しました。入力値を確認してください");
    </script>
    {% endif %}
</body>

</html>