<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portalアカウント設定</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <!-- メニューバー -->
      <div class="col-2"></div>

      <!-- メインコンテンツ -->
      <div class="col-8">
        <div class="container">
          <div class="row mt-5 mb-5 text-center">
            <h1>アカウント設定</h1>
          </div>
          <!-- カスタムユーザー -->
          <div class="row mb-2">
            <p>ユーザー</p>

            <!-- カスタムユーザー一覧 -->
            <ul class = "list-unstyled">
            {% for c in customUsers %}
            <li>{{c}}</li>
            {% endfor %}
          </ul>

            <div class = "col text-start">
              <a href="{% url "EditCustomUser" %}" class="btn btn-outline-success" role="btn">ユーザーを編集</a>
            </div>
          <div class="col text-end">
              <!-- ユーザー作成ページに移動 -->
              <a href="{% url "CreateCustomUser" %}" class="btn btn-outline-dark" role="btn">ユーザーの追加</a>
            </div>
          </div>

          <!-- アカウント情報 -->

          <form class="row" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- inputタグのvalueにユーザー情報を挿入 -->
            <div class="mb-2">
              <label for="username" class="form-label">アカウント名</label>
              <input type="text" name="username" value="{{username}}" class="form-control" aria-label="readonly input example" readonly >
            </div>
            <div class="mb-2">
              <label for="LastName" class="form-label">名字</label>
              <input type="text" name="LastName" value="{{LastName}}" class="form-control">
            </div>
            <div class="mb-2">
              <label for="FirstName" class="form-label">名前</label>
              <input type="text" name="FirstName" value="{{FirstName}}" class="form-control">
            </div>
            <div class="mb-2">
              <label for="birth" class="form-label">誕生日</label>
              <input type="date" name="birth" value="{{birth | date:"Y-m-d"}}" class="form-control">
            </div>
            <div class="mb-2">
              <label for="phone" class="form-label">携帯電話番号</label>
              <input type="tel" name="phone" value="{{phone}}" class="form-control" pattern="\d{3}\d{4}\d{4}" title = "ハイフン無しで入力してください(11桁)">
            </div>
            <div class="mb-2">
              <label for="image" class="form-label">プロフィール画像</label>
              <input type="file" name="image" class="form-control">
            </div>
            <div class="mb-5">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" name="email" value="{{email}}" class="form-control">
            </div>
            <div class="mb-2">
              <label for="password" class="form-label">パスワード</label>
              <a href="{% url 'passwordChange' %}" class="form-text float-end">パスワードの変更</a>
              <input type="password" name="password" class="form-control">
              <div class="form-text">情報を更新するにはパスワードを入力してください</div>
            </div>
            <div class="mb-4 text-end">
              <button type="submit" class="btn btn-primary">更新</button>
            </div>
          </form>
          <img src="{{image_url}}" alt ="プロフィール画像" width ="150" >

        </div>
        <!-- 右端 -->
        <div class="col-2"></div>
      </div>
    </div>
    {% if res %}
        <script>window.alert("{{res}}");</script>
      {% endif %}
    <script src="../../static/portal/js/user_setting.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
</body>

</html>