{% extends "quiz_base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}クイズトップ{% endblock %}
{% block title2 %}クイズトップ{% endblock %}

{% block content %}
<h1 class="mb-5 text-center">クイズメーカー</h1>
<div class="row">
  <div class="col-6 text-center">
    <a href="{% url 'make' %}">
      <div class="border p-2">クイズを作る</div>
    </a>
  </div>
  <div class="col-6 text-center">
    <a href="{% url 'play' %}">
      <div class="border p-2">クイズを解く</div>
    </a>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <div class="border p-1">
      <div>新着</div>
      {% if articles_posted_at %}
      {% for article in articles_posted_at %}
      <div class="row align-items-center">
        <div class="col-4 text-center">
          <a href="{% url 'detail' article.id %}">
            {% if article.image %}
            <img src="{{ article.image.url }}" alt="クイズのサムネイル" width="100" height="100">
            {% else %}
            <img src="{% static 'quiz/images/no_image_square.jpg'%}" alt="クイズのサムネイル" width="100" height="100">
            {% endif %}
          </a>
        </div>
        <div class="col-8">
          <a href="{% url 'detail' article.id %}">
            <div class="p-1">
              <div>{{ article.posted_at }} {{ article.author }}</div>
              <div>{{ article.title }}　{{ article.detail | truncatechars:12 }}</div>
            </div>
          </a>
        </div>
      </div>
      <div class="border-bottom"></div>
      {% endfor %}
      {% else %}
      <div>No article.</div>
      {% endif %}
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <div class="border p-1">
      <div>ランキング</div>
      {% if articles_answer %}
      {% for article in articles_answer %}
      <div class="row align-items-center">
        <div class="col-4 text-center">
          <a href="{% url 'detail' article.id %}">
            {% if article.image %}
            <img src="{{ article.image.url }}" alt="クイズのサムネイル" width="100" height="100">
            {% else %}
            <img src="{% static 'quiz/images/no_image_square.jpg'%}" alt="クイズのサムネイル" width="100" height="100">
            {% endif %}
          </a>
        </div>
        <div class="col-8">
          <a href="{% url 'detail' article.id %}">
            <div class="p-1">
              <div>{{ article.posted_at }} {{ article.author }}</div>
              <div>{{ article.title }}　{{ article.detail | truncatechars:12 }}</div>
            </div>
          </a>
        </div>
      </div>
      <div class="border-bottom"></div>
      {% endfor %}
      {% else %}
      <div>No article.</div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}