{% extends "quiz_base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}クイズを解く{% endblock %}
{% block title2 %}クイズを解く{% endblock %}

{% block content %}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link {{ flag_posted_at }}" id="nav-posted_at-tab" data-bs-toggle="tab"
            data-bs-target="#nav-posted_at" type="button" role="tab" aria-controls="nav-posted_at" aria-selected="true"
            onclick="location.href='{% url 'play' %}?sort=date'">新着順</button>
        <button class="nav-link {{ flag_like }}" id="nav-like-tab" data-bs-toggle="tab" data-bs-target="#nav-like"
            type="button" role="tab" aria-controls="nav-like" aria-selected="false"
            onclick="location.href='{% url 'play' %}?sort=like'">高評価順</button>
        <button class="nav-link {{ flag_answer }}" id="nav-answer-tab" data-bs-toggle="tab" data-bs-target="#nav-answer"
            type="button" role="tab" aria-controls="nav-answer" aria-selected="false"
            onclick="location.href='{% url 'play' %}?sort=answer'">回答数順</button>
        <button class="nav-link {{ flag_community }}" id="nav-community-tab" data-bs-toggle="tab"
            data-bs-target="#nav-community" type="button" role="tab" aria-controls="nav-community" aria-selected="false"
            onclick="location.href='{% url 'play' %}?sort=community'">Myコミュニティ</button>
    </div>
</nav>

<div class="tab-content border-start border-end" id="nav-tabContent">
    <!-- 新着 -->
    <div class="tab-pane fade show active" id="nav-posted_at" role="tabpanel" aria-labelledby="nav-posted_at-tab"
        tabindex="0">
        {% if articles %}
        {% for article in articles %}
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <a href="{% url 'detail' article.id %}">
                    {% if article.image %}
                    <img src="{{ article.image.url }}" alt="クイズのサムネイル" width="100" height="100">
                    {% else %}
                    <img src="{% static 'quiz/images/no_image_square.jpg'%}" alt="クイズのサムネイル" width="100" height="100">
                    {% endif %}
                </a>
            </div>
            <div class="col-8">
                <a href="{% url 'detail' article.id %}">
                    <div class="p-1">
                        <div>{{ article.posted_at }} {{ article.author }}</div>
                        <div>{{ article.title }}　{{ article.detail | truncatechars:12 }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="border-bottom"></div>
        {% endfor %}
        {% else %}
        <div>No article.</div>
        {% endif %}
    </div>

    <!-- 高評価順 -->
    <div class="tab-pane fade" id="nav-like" role="tabpanel" aria-labelledby="nav-like-tab" tabindex="0">
        {% if articles %}
        {% for article in articles %}
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <a href="{% url 'play' %}">
                    {% if article.image %}
                    <img src="{{ article.image.url }}" alt="クイズのサムネイル" width="100" height="100">
                    {% else %}
                    <img src="{% static 'quiz/images/no_image_square.jpg'%}" alt="クイズのサムネイル" width="100" height="100">
                    {% endif %}
                </a>
            </div>
            <div class="col-8">
                <a href="{% url 'play' %}">
                    <div class="p-1">
                        <div>{{ article.posted_at }} {{ article.author }}</div>
                        <div>{{ article.title }}　{{ article.detail | truncatechars:12 }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="border-bottom"></div>
        {% endfor %}
        {% else %}
        <div>No article.</div>
        {% endif %}
    </div>

    <!-- 回答数順 -->
    <div class="tab-pane fade" id="nav-answer" role="tabpanel" aria-labelledby="nav-answer-tab" tabindex="0">
        {% if articles %}
        {% for article in articles %}
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <a href="{% url 'play' %}">
                    {% if article.image %}
                    <img src="{{ article.image.url }}" alt="クイズのサムネイル" width="100" height="100">
                    {% else %}
                    <img src="{% static 'quiz/images/no_image_square.jpg'%}" alt="クイズのサムネイル" width="100" height="100">
                    {% endif %}
                </a>
            </div>
            <div class="col-8">
                <a href="{% url 'play' %}">
                    <div class="p-1">
                        <div>{{ article.posted_at }} {{ article.author }}</div>
                        <div>{{ article.title }}　{{ article.detail | truncatechars:12 }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="border-bottom"></div>
        {% endfor %}
        {% else %}
        <div>No article.</div>
        {% endif %}
    </div>

    <!-- コミュニティ限定 -->
    <div class="tab-pane fade" id="nav-community" role="tabpanel" aria-labelledby="nav-community-tab" tabindex="0">
        {% if articles %}
        {% for article in articles %}
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <a href="{% url 'play' %}">
                    {% if article.image %}
                    <img src="{{ article.image.url }}" alt="クイズのサムネイル" width="100" height="100">
                    {% else %}
                    <img src="{% static 'quiz/images/no_image_square.jpg'%}" alt="クイズのサムネイル" width="100" height="100">
                    {% endif %}
                </a>
            </div>
            <div class="col-8">
                <a href="{% url 'play' %}">
                    <div class="p-1">
                        <div>{{ article.posted_at }} {{ article.author }}</div>
                        <div>{{ article.title }}　{{ article.detail | truncatechars:12 }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="border-bottom"></div>
        {% endfor %}
        {% else %}
        <div>No article.</div>
        {% endif %}
    </div>
</div>
{% endblock %}