<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>チャット一覧</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="mt-5">
    <div class="container">
        <!-- メニューバー -->
        <div class="row text-start">

            <nav class="navbar bg-body-tertiary fixed-top">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Chat</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <!--メニュー検索-->
                        <div class="offcanvas-body">
                            <form class="d-flex mt-3" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                            </form>
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-2">
                                <!--カテゴリ-->
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="./user.html">ユーザー検索</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="./chat.html">チャット一覧</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="./add.html">グループ作成</a>
                                </li>
                                <!--個人チャットルーム-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        メンバー
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="./room.html">Name1</a></li>
                                        <li><a class="dropdown-item" href="./room.html">Name2</a></li>
                                    </ul>
                                </li>
                                <!--グループチャットルーム-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        グループ
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="./room.html">GroupA</a></li>
                                        <li><a class="dropdown-item" href="./room.html">GroupB</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <!-- メインコンテンツ -->
        <div class="row">
            <div class="d-none d-md-block col-2">
                <!-- 画面サイズに応じて左右の余白を空ける -->
            </div>
            <!-- 内容 -->
            <div class="col-12 col-md-8">
                <h1 class="mt-5 mb-5 text-center">クイズメーカー</h1>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-new-tab" data-bs-toggle="tab" data-bs-target="#nav-new"
                            type="button" role="tab" aria-controls="nav-new" aria-selected="true">新着</button>
                        <button class="nav-link" id="nav-ranking-tab" data-bs-toggle="tab" data-bs-target="#nav-ranking"
                            type="button" role="tab" aria-controls="nav-ranking" aria-selected="false">ランキング</button>
                        <button class="nav-link" id="nav-community-tab" data-bs-toggle="tab" data-bs-target="#nav-community"
                            type="button" role="tab" aria-controls="nav-community" aria-selected="false">コミュニティ限定</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab"
                        tabindex="0">
                        <div class="member">
                            <table class="table table-striped table-bordered" style="margin:auto">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">ID</th>
                                        <th scope="col">名前</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <img src="../../static/chat/images/rabbit.jpg" alt="group-icon" width="100"
                                                height="100" id="user_icon" class="rounded-circle mb-2">
                                        </th>
                                        <td>
                                            <a href="./room.html">
                                                @buchi
                                            </a>
                                        </td>
                                        <td>Rio</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <img src="../../static/chat/images/sun.jpg" alt="group-icon" width="100"
                                                height="100" id="user_icon" class="rounded-circle mb-2">
                                        </th>
                                        <td>
                                            <a href="./room.html">
                                                @train
                                            </a>
                                        </td>
                                        <td>J</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <img src="../../static/chat/images/flower.jpg" alt="group-icon" width="100"
                                                height="100" id="user_icon" class="rounded-circle mb-2">
                                        </th>
                                        <td>
                                            <a href="./room.html">
                                                @path
                                            </a>
                                        </td>
                                        <td>Tomato</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <img src="../../static/chat/images/sun.jpg" alt="group-icon" width="100"
                                                height="100" id="user_icon" class="rounded-circle mb-2">
                                        </th>
                                        <td>
                                            <a href="./room.html">
                                                @RRR
                                            </a>
                                        </td>
                                        <td>Rubick</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class=" d-none d-md-block col-2">

    </div>
    </div>
    <div class="row mb-5"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

</html>