{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/css/index.css' %}">
    <script type="text/javascript" src="{% static 'quiz/js/index.js' %}"></script>
</head>

<body>
    <header>
        <div id="customUserModal">
            <a href="../redirect_app/quiz">カスタムユーザーの変更</a>
            <a href="{% url 'logout' %}">ログアウト</a>
        </div>
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand d-flex justify-content-center align-items-center mx-auto"
                    href="{% url 'quiz' %}">クイズメーカー</a>
                <button onclick="customUserIcon();" id="customUserIcon">
                    <img class="rounded-circle border" src="{{ CustomUserData.image.url }}" width="50px">
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{% block title2 %}{% endblock %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'quiz' %}">クイズトップ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'play' %}">クイズを解く</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'make' %}">クイズを作る</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'portal' %}">ポータルトップ</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-2"></div>
                <div class="col-12 col-md-8">
                    {% block content %}{% endblock %}
                </div>
                <div class=" d-none d-md-block col-2"></div>
            </div>
        </div>
    </main>

    <footer>
        <br>
    </footer>
</body>

</html>